{# --- UUID/Pfad robust ermitteln (C4.13 & C5) --------------------------- #}
{# image kann sein: "uuid"-String (C4), oder Array/Objekt mit uuid/path (C5) #}
{% set imgUuid = image is defined
    ? (image is iterable
    ? (image.uuid is defined ? image.uuid
    : (image.value is defined ? image.value : null))
    : image)  # hier ist image dann ein String (UUID)
    : null
    %}

{% set maskUuid = maskSvg is defined
    ? (maskSvg is iterable
    ? (maskSvg.uuid is defined ? maskSvg.uuid
    : (maskSvg.value is defined ? maskSvg.value : null))
    : maskSvg)
    : null %}

{# Wenn Pfade bereits vorhanden sind (C5), direkt nutzen, sonst via Insert-Tag #}
{% set imgPath  = (image is defined and image is iterable and image.path is defined)
    ? image.path
    : (imgUuid ? insert_tag('file::' ~ imgUuid) : '') %}

{% set maskPath = (maskSvg is defined and maskSvg is iterable and maskSvg.path is defined)
    ? maskSvg.path
    : (maskUuid ? insert_tag('file::' ~ maskUuid) : '') %}

{% set imgSrc  = imgPath  ? asset(imgPath)  : '' %}
{% set maskSrc = maskPath ? asset(maskPath) : '' %}

{# Alt-Text #}
{% set altText = (imgFigure is defined and imgFigure.image is defined and imgFigure.image.meta.alt)
    ? imgFigure.image.meta.alt
    : (imgFigure is defined and imgFigure.image is defined ? imgFigure.image.name : '') %}


{# Eingaben + Defaults #}
{% set bpos  = bgPosition|default('center') %}
{% set maskSync = maskSync|default(false) %}
{% set mSync = maskSync is same as(true) or maskSync == 1 %}

{# background-size aus Auswahl mappen (2-Wert-Syntax unterstützen) #}
{% set bsize = {
    'cover': 'cover',
    'contain': 'contain',
    'auto': 'auto',
    '100_auto': '100% auto',
    'auto_100': 'auto 100%'
}[bgSize|default('cover')] ?? 'cover' %}

{# Wenn Maske koppeln: mask-size = background-size. Sonst eigene maskSize übernehmen #}
{% set msize = mSync
    ? bsize
    : (maskSize|default('cover')) %}

{# Styles zusammenbauen #}
{% set rules = [] %}
{% if imgSrc %}{% set rules = rules|merge(["background-image:url('" ~ imgSrc|e('url') ~ "')"]) %}{% endif %}
{% set rules = rules|merge([
    "background-position:" ~ bpos,
    "background-repeat:no-repeat",
    "background-size:" ~ bsize
]) %}

{% if maskSrc %}
    {% set rules = rules|merge([
        "-webkit-mask-image:url('" ~ maskSrc|e('url') ~ "')",
        "mask-image:url('" ~ maskSrc|e('url') ~ "')",
        "-webkit-mask-repeat:no-repeat", "mask-repeat:no-repeat",
        "-webkit-mask-position:" ~ bpos, "mask-position:" ~ bpos,
        "-webkit-mask-size:" ~ msize,   "mask-size:" ~ msize
    ]) %}
{% endif %}

{% set ratio = ratio|default(null) %}
{% if ratio %}{% set rules = rules|merge(["aspect-ratio:" ~ ratio]) %}{% endif %}
{% set minHeight = minHeight|default(null) %}
{% if minHeight %}{% set rules = rules|merge(["min-height:" ~ minHeight]) %}{% endif %}

{# cssID aus Standardfeldern #}
{# Sicher auf Array trimmen #}
{% set _css = (cssID is defined and cssID is iterable) ? cssID : [] %}
{# ID nur setzen, wenn es das erste Element gibt und nicht leer ist #}
{% set idAttr = (_css[0] is defined and _css[0])
    ? ' id="' ~ _css[0]|e('html_attr') ~ '"'
    : '' %}

{% set classList = ['ce_imagemask', customClasses|default('')] %}

{% if cssID is defined and cssID is iterable and cssID[1] is defined and cssID[1] %}
    {% set classList = classList|merge([cssID[1]]) %}
{% endif %}



<div{{ idAttr|raw }} class="{{ classList|join(' ')|trim }}">
    {% if headline and headline.text %}
        <{{ headline.tag|default('h2') }} class="ce_headline">{{ headline.text }}</{{ headline.tag|default('h2') }}>
    {% endif %}

    <div class="ce-imagemask__inner"
         style="{{ rules|join(';') }}"
         role="img"
         aria-label="{{ altText|striptags }}">
    </div>
</div>
